.pa{
    background-color: #007BFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    color: white;
}

.head{
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    padding-right: 250px;
    
}

.head a{
    color: black;
    text-decoration: none;
}

.right-menu{
    display: flex;
    justify-content: end;
    padding-right: 100px;
    gap: 30px;
    margin-top: -45px;
    font-size: 17px;
}

.right-menu .si{
    border: 1px solid #007BFF;
    border-radius: 2px;
    color: #007BFF;
    height: 20px;
    width: 150px;
    padding: 5px;
}

img{
    width: 1700px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0078d4;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
}

.header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: right;
}

.filters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter p {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.filter select {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    width: 150px;
}
