{% extends 'sales/base.html' %}
{% load static %}

<link href="{% static 'sales/home.css' %}" rel="stylesheet">
{% block content %}
<div class="pa">
    <p>sell in 24 hours with instant offers</p>
</div>
<div class="head">
    <a href="#">Buy</a>
    <a href="#">Sell</a>
    <a href="#">Showroom</a>
    <a href="#">Value my car</a>
</div>
    <div class="right-menu">
        <span>Sign up/Login</span>
        <span class="si">Get instant offer</span>
    </div>
    <div class="home-image">
        <img src="{% static 'sales/v8.jpeg' %}">
    </div>
    <div class="category">
        <h3 class="header">Find Your Next Car</h3>
        <div class="filters">
            <div class="filter">
                <p>Make</p>
                <select>
                    <option>All Makes</option>
                    <option>Vitz</option>
                    <option>Corolla</option>
                    <option>Hyundai</option>
                    <option>BZ4</option>
                </select>
            </div>
            <div class="filter">
                <p>Model</p>
                <select>
                    <option>All Models</option>
                    <option>2001</option>
                    <option>2003</option>
                    <option>2005</option>
                    <option>2006</option>
                </select>
            </div>
            <div class="filter">
                <p>Body Type</p>
                <select>
                    <option>All Body Types</option>
                </select>
            </div>
            <div class="filter">
                <p>Location</p>
                <select>
                    <option>Location</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}    
