{% extends 'sales/base.html' %}
{% load static %}

<link href="{% static 'sales/home.css' %}" rel="stylesheet">
{% block content %}
<div class="pa">
    <p>sell in 24 hours with instant offers</p>
</div>
<div class="head">
    <a href="#">Buy</a>
    <a href="#">Sell</a>
    <a href="#">Showroom</a>
    <a href="#">Value my car</a>
</div>
    <div class="right-menu">
        <span>Sign up/Login</span>
        <span class="si">Get instant offer</span>
    </div>
    <div class="home-image">
        <img src="{% static 'sales/v8.jpeg' %}">
    </div>
    <div class="category">
        <p>Find Your Next Car</p>
        <div class="make">
        <p>Make</p>
        <select>
            <option value="selected">All Makes</option>
            <option>Vitz</option>
            <option>Corolla</option>
            <option>Hyundai</option>
            <option>BZ4</option>
        </select>
        </div>
        <div class="model">
            <p>Model</p>
            <select>
                <option value="selected">All Models</option>
                <option>2001</option>
                <option>2003</option>
                <option>2005</option>
                <option>2006</option>
            </select>
        </div>
        <div class="body-type">
            <p>Body Type</p>
            <select>
                <option>All Body Types</option>
            </select>
        </div>
        <div class="location">
            <p>Location</p>
            <select>
                <option>Location</option>
            </select>
        </div>
    </div>
{% endblock %}